
<h2>Firebase.util.join Demo</h2>

<p>Pick a sample demo: <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {{selectedSample.name}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="item in sampleSets | orderBy: sort"><a href="#" ng-click="loadSample($event, item)">{{item.name}}</a></li>
    </ul>
</div></p>

<!-- why does html still exist? -->
<div class="container">
    <div class="row">
        <div class="col-md-4 listblock">
            <h4>Paths</h4>
            <ul class="list-unstyled">
                <li ng-repeat="path in paths">
                    Path: <code>{{path.url}}</code>
                    <label><input type="checkbox" ng-model="path.intersects" /> intersects</label>
                    <ul ng-show="path.keyMap" ng-bind-html="showDynamics(path.keyMap)" class="list-unstyled"></ul>
                </li>
            </ul>
            <button ng-click="addPath()" ng-show="selectedSample.custom" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> add path</button>
            <pre class="prettify lang-js">{{sampleCode}}</pre>
        </div>
        <div class="col-md-8">
            <h4>Joined Data</h4>
            <ul id="filtered" class="list-unstyled"></ul>
            <pre>{{joinedData|json}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Raw Data</h4>
            <pre class="prettify lang-js">{{rawData|json}}</pre>
        </div>
    </div>
</div>