
<section ng-repeat="sample in samples" ng-controller="JoinDemoExampleCtrl" ng-init="sample=sample">
    <h3 id="example-profiles">{{sample.name}}</h3>

    <!-- why does html still exist? -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Constructor</h4>
                <pre class="prettify lang-js pre-scrollable">{{sampleCode}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Joined Data</h4>
                <pre class="prettify lang-js pre-scrollable">{{joinedData|json}}</pre>
            </div>
            <div class="col-md-6 listblock">
                <h4>Raw Data</h4>
                <pre class="prettify lang-js pre-scrollable">{{rawData|json}}</pre>
            </div>
        </div>
    </div>
</section>
