
<section>
    <h3 id="examples">Build your own</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-6 listblock">
                <h4>Paths</h4>
                <ul class="list-unstyled">
                    <li ng-repeat="path in paths">
                        <input type="text" ng-model="path.url" class="form-control" />
                        <label><input type="checkbox" ng-model="path.intersects" /> intersects</label>
                        <a href="#" class="pull-right text-muted" ng-click="remove($event, $index)"><i class="fa fa-times"></i> delete path</a>
                    </li>
                </ul>
                <button role="button" class="btn btn-default" ng-click="add($event)"><i class="fa fa-plus"></i> Add More</button>
            </div>
            <div class="col-md-6">
                <h4>Constructor</h4>
                <pre class="prettify lang-js pre-scrollable">{{sampleCode}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Joined Data</h4>
                <pre class="prettify lang-js pre-scrollable">{{joinedData|json}}</pre>
            </div>
            <div class="col-md-6">
                <h4>Raw Data</h4>
                <pre class="prettify lang-js pre-scrollable">{{rawData|json}}</pre>
            </div>
        </div>
    </div>
</section>