
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Firebase.util</h1>
    <p class="lead">An experimental toolset for Firebase</p>
    <p>
        <a class="btn btn-lg btn-info" href="https://github.com/firebase/firebase-util" role="button"><i class="fa fa-github"></i> GitHub »</a>
        <a class="btn btn-lg btn-primary" href="#/usage" role="button"><i class="fa fa-fire"></i> Getting Started</a>
        <a class="btn btn-lg btn-info" href="https://cdn.firebase.com/libs/firebase-util/0.0.1/firebase-util.min.js" role="button"><i class="fa fa-cloud-download"></i> Download »</a>
    </p>
</div>
