
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Firebase.util</h1>
    <p class="lead">An experimental toolset for Firebase.</p>
    <p>
        <a class="btn btn-lg btn-default" href="https://github.com/firebase/firebase-util" target="blank" role="button"><i class="fa fa-github"></i> GitHub »</a>
        <a class="btn btn-lg btn-default" href="https://cdn.firebase.com/libs/firebase-util/0.1.0/firebase-util.min.js" target="blank" role="button"><i class="fa fa-cloud-download"></i> Download <small>(0.1.0)</small> »</a>
    </p>
</div>

<div ng-include="'partials/usage.html'"></div>
<div ng-include="'partials/tools.html'"></div>
<div ng-include="'partials/support.html'"></div>
