
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Firebase.util</h1>
    <p class="lead">An experimental toolset for Firebase.<br />Join multiple Firebase paths and read/write data as a single reference.</p>
    <p>
        <a class="btn btn-lg btn-warning" href="#/getting_started" app-bookmark="#usage" role="button"><i class="fa fa-fire"></i> Getting Started</a>
        <a class="btn btn-lg btn-default" href="https://github.com/firebase/firebase-util" target="blank" role="button"><i class="fa fa-github"></i> GitHub »</a>
        <a class="btn btn-lg btn-default" href="https://cdn.firebase.com/libs/firebase-util/0.1.0/firebase-util.min.js" target="blank" role="button"><i class="fa fa-cloud-download"></i> Download <small>(0.0.1)</small> »</a>
    </p>
</div>
