
<h2>Firebase.util.join</h2>

<p>Sync to multiple Firebase paths and seamlessly merge the data into a single object. You can use all your favorite
    Firebase methods (on, once, set, etc) normally. The merged data is distributed back to the responsible paths
    during write ops.</p>
<p>
    <a href="#/demo/join" class="btn btn-sm btn-primary">Demo</a>
    &nbsp;
    <a target="_blank" href="https://github.com/katowulf/FirebaseJoin/blob/master/src/join/README.md" class="btn btn-sm btn-default">Docs on GitHub »</a>
</p>