
<h2>StackOverflow</h2>

<p>Our community is very active on StackOverflow. <a href="http://stackoverflow.com/questions/ask?tags=firebase,firebase-util" target="_blank">Ask a question</a> there and tag it with <code>firebase</code> and <code>firebase-util</code>!</p>
<h2>Mailing Lists</h2>

<p><a href="https://groups.google.com/forum/#!forum/firebase-angular">Angular + Firebase Group</a>: All things Angular + Firebase.</p>

<p><a href="https://groups.google.com/forum/#!forum/firebase-talk">Firebase-talk Group</a>: Everything else Firebase.</p>

<h2>Contact the Firebase Team</h2>

<p>Send an email to <a href="mailto:support@firebase.com">support@firebase.com</a></p>