
<h2 id="support">Support</h2>

<h3>Helpful tips to isolate a problem</h3>

<ol>
    <li>Start by reading the <a href="https://github.com/firebase/firebase-util/blob/master/src/join/README.md#limitations">limitations and best practices</a></li>
    <li>Turn on debugging by calling <code>Firebase.util.logLevel(true);</code> (use 'info', 'log' or 'debug' to tweak verbosity)</li>
    <li>Check your JavaScript console for error messages</li>
    <li>Add a keyMap to every path and see if the problem resolves</li>
</ol>

<p>The logging utility accepts several options and has grep capabilities.
    <a href="https://github.com/firebase/firebase-util#firebaseutilloglevelint">Read more</a> at GitHub.</p>

<h3>Getting Help</h3>

<h4>GitHub Issues</h4>

<p>File bugs and feature requests in our <a href="https://github.com/firebase/firebase-util/issues">issue tracker</a> on GitHub.</p>

<h4>StackOverflow</h4>

<p>Our community is very active on StackOverflow. <a href="http://stackoverflow.com/questions/ask?tags=firebase,firebase-util" target="_blank">Ask a question</a> there and tag it with <code>firebase</code> and <code>firebase-util</code>!</p>

<h4>Mailing Lists</h4>

<p><a href="https://groups.google.com/forum/#!forum/firebase-angular">Angular + Firebase Group</a>: All things Angular + Firebase.</p>

<p><a href="https://groups.google.com/forum/#!forum/firebase-talk">Firebase-talk Group</a>: Everything else Firebase.</p>

<h4>Contact the Firebase Team</h4>

<p>Send an email to <a href="mailto:support@firebase.com">support@firebase.com</a></p>