
<h2 id="getting_started">Getting Started</h2>

<h3>On the Web</h3>

<prettify target="versions">
<pre><code class="prettyprint lang-html linenums">&lt;script src="https://cdn.firebase.com/js/client/{{target.firebase}}/firebase.js"&gt;&lt;/script&gt;
&lt;script src="https://cdn.firebase.com/libs/firebase-util/{{target.util}}/firebase-util.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
    Firebase.util.logLevel('log');
    Firebase.util.log('hello world');
&lt;/script&gt;
</code></pre>
</prettify>

<h3>Node.js</h3>

<prettify target="versions">
<pre class="prettyprint lang-js linenums"><code>var Firebase = require('firebase');
var FirebaseUtil = require('./firebase-util.js');
FirebaseUtil.log('hello world');
</code></pre>
</prettify>

<h3>Full Documentation</h3>

<p>For now, the <a href="https://github.com/firebase/firebase-util/blob/master/README.md">README on GitHub</a>
    serves as the full documentation for Firebase.util.join libs. It covers everything from dynamic path keys to best
    practices and limitations. Be sure to check it out after the examples.</p>

<p><a href="https://github.com/firebase/firebase-util/blob/master/README.md" class="btn btn-primary btn-lg">Read the Docs</a></p>