body { padding-top: 50px; }

h2 {
   background-color: rgb(255, 255, 234);
   padding: 5px 20px;
   border-bottom: 1px solid #8a5a00;
   color: #8a5a00;
}

h3 {
   border-bottom: 1px solid #eee;
}

h3, h4 {
   padding-top: 15px;
}

.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

/*.ng-cloak { display: none; }*/

#fork_on_github {
   position: absolute; top: 0; right: 0; border: 0;
   z-index: 1040;
}

@media (max-width: 767px) {
   #fork_on_github { display: none }
}

ul.toolbox {
   list-style-type: none;
}

.toolbox > div > a {
   display: block;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 8px;
   min-height: 175px;
   color: black;
   position: relative;
   background-color: #efe;
}

.toolbox > div > a:hover {
   background-color: #e1f1e1;
   text-decoration: none;
}

.toolbox > div.soon > a {
   border-style: dashed;
   color: gray;
}

.toolbox > div.soon > a > h3 {
   color: gray;
}

.toolbox > div > a > h3 {
   margin: 0 0 10px 0;
   color: #8a5a00;
}